<div id="top-bar" class="container">
	<div class="row">		
		<div class="account pull-right">
			<ul class="user-menu">
				<li>{{#link-to 'home'}}Home{{/link-to}}</li>
        <li>{{#link-to 'cart'}}My Cart{{/link-to}}</li>
			</ul>
		</div>
	</div>
</div>