<section id="footer-bar">
  <div>
    <p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
    <br/>       
  </div>  
</section>
<section id="copyright">
	<span>Copyright @123.</span>
</section>